<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Request Header Parser</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
<!--     <script src="/script.js" defer></script> -->
  </head>
  <body>
    <header>
      <h1>Request Header Parser Microservice</h1>
    </header>

    <main>
      <h2>Usage format:</h2>

      <a href="https://request-header-parser-peebles.glitch.me/api/whoami">https://request-header-parser-peebles.glitch.me/api/whoami</a>

      <h2>Output format:</h2>
      
      <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>! <br> By Brandon Peebles</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
